{% extends 'accounts/layout.html' %}

{% block content %}
<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">Login</div>
    <div class="card-body">
      <form action="" method="POST" class="form-signin">
        {% csrf_token %}

        <div class="form-label-group">
          <label for="{{ form.username.id_for_label }}" class="sr-only">ID</label>
          <input type="text" id="{{ form.username.id_for_label }}" class="form-control" placeholder="ID" required="required"
            autofocus="autofocus" name="{{ form.username.html_name }}">

        </div>



        <div class="form-label-group">
          <input type="password" id="{{ form.password.id_for_label }}" class="form-control" placeholder="Password"
            required="required" name="{{ form.password.html_name }}">
          <label for="{{ form.password.id_for_label}}" class="sr-only">Password</label>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me">
              Remember Password
            </label>
          </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      </form>
      <div class="text-center">
        <a class="d-block small mt-3" href="{% url 'signup' %}">Register an Account</a>
        <a class="d-block small" href="{% url 'password_reset' %}">Forgot Password?</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}