{% extends 'accounts/layout.html' %}

{% block content %}

<div class="container">
  <div class="card card-register mx-auto mt-5">
    <div class="card-header">Register an Account</div>
    <div class="card-body">
      <form action="" method="POST" class="form-signin">
        {% csrf_token %}

        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-label-group">
                <input type="text" id="{{ form.username.id_for_label }}" class="form-control" placeholder="Username"
                  required="" autofocus="" name="{{ form.username.html_name }}" required autofocus>
                <label for="{{ form.username.id_for_label }}" class="sr-only">ID</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-label-group">
            <input type="email" id="{{ form.email.id_for_label }}" class="form-control" placeholder="Email" required=""
              name="{{ form.email.html_name }}" required>
            <label for="{{ form.email.id_for_label }}" class="sr-only">Email address</label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-label-group">
                <input type="password" id="{{ form.password1.id_for_label }}" class="form-control" placeholder="Password"
                  required="" name="{{ form.password1.html_name }}" required>
                <label for="{{ form.password1.id_for_label }}" class="sr-only">Password</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-label-group">
                <input type="password" id="{{ form.password2.id_for_label }}" class="form-control" placeholder="Confirm password"
                  required="" name="{{ form.password2.html_name }}" required>
                <label for="{{ form.password2.id_for_label }}" class="sr-only">Confirm password</label>
              </div>
            </div>
          </div>
        </div>
        <!-- <a class="btn btn-primary btn-block" href="{% url 'account/login' %}">Register</a> -->
        <button class="btn btn-primary btn-block" type="submit">Register</button>
      </form>
      <div class="text-center">
        <a class="d-block small mt-3" href="#">Login Page</a>
        <a class="d-block small" href="#">Forgot Password?</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}