{% extends 'accounts/layout.html' %}

{% block content %}


<div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Chage Password</div>
            <div class="card-body">
                <div class="text-center mb-4">
                    <h4>Chage your password?</h4>
                    <p>Please enter your new password.</p>
                </div>
                {% if form.errors %}
                <p>Please re-enter your password</p>
                {% endif %}
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="form-label-group">
                            {{ form.old_password }}
                            <label for="old_password">Enter old password</label>
                        </div>
                    </div>
                    <div class="form-group">
                            <div class="form-label-group">
                                {{ form.new_password1 }}
                                <label for="new_password1">Enter new password</label>
                            </div>
                        </div>
                        <div class="form-group">
                                <div class="form-label-group">
                                    {{ form.new_password2 }}
                                    <label for="new_password2">Enter confirm password</label>
                                </div>
                            </div>
                    
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                
            </div>
        </div>
    </div>
    
{% endblock %}