{% extends 'accounts/layout.html' %}



{% block content %}

<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Reset Password</div>
        <div class="card-body">
            <div class="text-center mb-4">
                <h4>Chage your password?</h4>
                <p>Please enter your new password.</p>
            </div>
            {% if form.errors %}
            <p>Please re-enter your password</p>
            {% endif %}
            <form method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="password" id="{{ form.old_password }}" class="form-control" placeholder="Enter old password"
                            required="required" autofocus="autofocus">
                        <label for="old_password">Enter old password</label>
                    </div>
                </div>
                <div class="form-group">
                        <div class="form-label-group">
                            <input type="password" id="{{ form.new_password1 }}" class="form-control" placeholder="Enter new password"
                                required="required">
                            <label for="new_password1">Enter new password</label>
                        </div>
                    </div>
                    <div class="form-group">
                            <div class="form-label-group">
                                <input type="password" id="{{ form.new_password2 }}" class="form-control" placeholder="Enter confirm password"
                                    required="required">
                                <label for="new_password2">Enter confirm password</label>
                            </div>
                        </div>
                <input type= 'submit' class="btn btn-primary btn-block">Reset Password</a>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="register.html">Register an Account</a>
                <a class="d-block small" href="login.html">Login Page</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}